<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <listener>
        <listener-class>database.InitConnexion</listener-class>
    </listener>
    
    <!-- ServletPompier -->
    <servlet>
        <servlet-name>ServletPompier</servlet-name>
        <servlet-class>servlet.ServletPompier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/lister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/consulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/ajouter</url-pattern>
    </servlet-mapping>
    
    <!-- ServletCaserne -->
    <servlet>
        <servlet-name>ServletCaserne</servlet-name>
        <servlet-class>servlet.ServletCaserne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCaserne</servlet-name>
        <url-pattern>/ServletCaserne/lister</url-pattern>
    </servlet-mapping>
    
    <!-- ServletFonction -->
    <servlet>
        <servlet-name>ServletFonction</servlet-name>
        <servlet-class>servlet.ServletFonction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFonction</servlet-name>
        <url-pattern>/ServletFonction/lister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFonction</servlet-name>
        <url-pattern>/ServletFonction/consulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFonction</servlet-name>
        <url-pattern>/ServletFonction/ajouter</url-pattern>
    </servlet-mapping>
    
    <!-- ServletVehicule -->
    <servlet>
        <servlet-name>ServletVehicule</servlet-name>
        <servlet-class>servlet.ServletVehicule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletVehicule</servlet-name>
        <url-pattern>/ServletVehicule/lister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVehicule</servlet-name>
        <url-pattern>/ServletVehicule/consulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVehicule</servlet-name>
        <url-pattern>/ServletVehicule/ajouter</url-pattern>
    </servlet-mapping>
    
    <!-- ServletTypeVehicule -->
    <servlet>
        <servlet-name>ServletTypeVehicule</servlet-name>
        <servlet-class>servlet.ServletTypeVehicule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTypeVehicule</servlet-name>
        <url-pattern>/ServletTypeVehicule/lister</url-pattern>
    </servlet-mapping>
     <!-- ServletIntervention -->
    <servlet>
        <servlet-name>ServletIntervention</servlet-name>
        <servlet-class>servlet.ServletIntervention</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIntervention</servlet-name>
        <url-pattern>/ServletIntervention/lister</url-pattern>
    </servlet-mapping>
    <session-config>       
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>